<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="padman_robot">
  <xacro:arg name="prefix" default="" />

  <!-- Import RRBot macro -->
  <xacro:include filename="$(find padman_hw)/urdf/padman_description.urdf.xacro" />
  <xacro:include filename="$(find padman_hw)/urdf/padman_description_right.urdf.xacro" />

  <!-- Import Rviz colors -->
  <!--<xacro:include filename="$(find padman_hw)/padman/urdf/padman.materials.xacro" />-->

  <!-- Import RRBot ros2_control description -->
  <xacro:include filename="$(find padman_hw)/ros2_control/padman.ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <link name="world"/>

  <xacro:padman parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:padman>

  <xacro:padman_right parent="base_link" prefix="$(arg prefix)">
    <origin xyz="0.165 0 0" rpy="0 0 0" />
  </xacro:padman_right>

  <xacro:padman_ros2_control
    name="Padman" prefix="$(arg prefix)" />

</robot>